<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Editar Post</h1>
<form th:object="${post}" th:action="@{/postEdit}" method="POST" >

    <label>Titulo:</label>
    <div>
        <input type="hidden" name="id" th:value="${post.id}">
        <textarea maxlength="20" th:text="${post.title}" th:field="*{title}" rows="1" cols="30"/>
        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Errors</span>
    </div>
    <br>
    <label>Texto: </label><br>
    <textarea cols="30" rows="15" maxlength="100" th:text="${post.text}" th:field="*{text}"/>
    <span th:if="${#fields.hasErrors('text')}" th:errors="*{text}">Errors</span>
    <br>
    <label>Categoria: </label><select name="postCategory" id="postCategory">

    <option th:each="category : ${postCategoryList}"
            th:value="${category.id}"
            th:text="${category.name}"
            th:selected="(${category.id} == ${post.postCategory.id})"></option>
</select>
    <br>
    <label>Usuario: </label><select name="userPost" id="userPost">
    <option th:each="user : ${userList}"
            th:value="${user.id}"
            th:text="${user.name}"
            th:selected="(${user.id} == ${post.userPost.id})"></option>
</select>

    </select>
    <label>Mostrar: </label><select name="showPost" id="showPost">
    <option th:selected="(${post.showPost} == 'SI')">SI</option>
    <option th:selected="(${post.showPost} == 'NO')">NO</option>
</select>
    <br>
    <input type="submit" value="Guardar"></input>
</form>

</body>
</html>