<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Post</h1>

<b>Id:</b> <p th:text="${post.id}"></p>
<b>Titulo:</b><p th:text="${post.title}"></p>
<b>Texto:</b> <p th:text="${post.text}"></p>
<b>Likes: </b> <span th:text="${post.likes}"></span> <a th:href="${'/like/' + post.id}">Like</a> <a th:href="${'/dislike/' + post.id}">Dislike</a>
<br>
<br>
<form action="/comment" method="POST">
    <input type="hidden" name="post" th:value="${post.id}">
    <b>Comenta:   </b>
    <textarea maxlength="50" name="text" id="text" cols="30" rows="1"></textarea>
    <br>
    <br>
    <label>Usuario: </label><select name="user" id="user">

    <option th:each="user : ${userList}"
            th:value="${user.id}"
            th:text="${user.name}"
    ></option>
</select>
    <input type="submit" value="Comentar"></input>
</form>
<br>
<b>Comentarios: </b>
<br>
<p th:each="comment : ${post.comments}" >
    <b th:text="${comment.user.name}"></b>
    <br>
    <span th:text="${comment.text}"></span>
    <br>
    <label>Likes: </label><span th:text="${comment.likes}"></span>
    <a th:href="${'/commentlike/' + comment.id}">Like</a>
    <a th:href="${'/commentDislike/' + comment.id}">Dislike</a>

</p>
<br>
<br>
<a th:href="${'/posts/'}">Volver a posts</a>
</body>
</html>